body {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  background-color: black;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 50px;
}

.header h2 {
  font-size: 42px;
  font-weight: 300;
}

.links a {
  color: Aquamarine;
  font-size: 16px;
}

p {
  font-size: 21px;
  color: Gray;
}

.copyright p {
  text-align: right;
}
