/* CSS for the header */
header {
  font-family: 'Proza Libre', sans-serif;
}

header .container {
  background-color: white;
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}

.container img {
  height: 32px;
  padding-left: 24px;
  padding-right: 2px;
}

nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 16px;
}

nav span a {
  padding: 0 8px;
  color: #C09F80;
}
nav span a:hover {
  color: #76323F;
  padding-bottom: 19px;
  border-bottom: 2px solid;
}

span.colmar {
  color: #565656;
  font-weight: bold;
}
span.academy {
  color: #C09F80;
  font-weight: lighter;
}

header .mobile-nav {
  display: none;
}
header .small-mobile-nav {
  display: none;
}

@media only screen and (max-width: 640px) {
  header nav.webversion {
    display: none;
  }
  header nav.mobile-nav {
    display: flex;
    justify-content: flex-end;
}
  header nav ul {
    display: flex;
  }
  header nav li {
    display: inline-flex;
  }
}
@media only screen and (max-width: 418px) {
  span.colmar {
    display: none;
  }
  span.academy {
    display: none;
  }
  header nav.mobile-nav {
    display: none;
  }
  header .logo {
    display: none;
  }
  header .small-mobile-nav {
    display: block;
  }
  header nav.small-mobile-nav ul {
    display: flex;
    justify-content: space-around;
  }
  header nav.mobile-nav ul {
    width: 100%;
  }
  header nav li {
    display: inline-flex;
    justify-content: space-between;
  }
}

/* CSS for the body */
body {
  font-family: 'Proza Libre', sans-serif;
  color: #000
}

/* CSS for the main part of the body */
main {
  padding-top: 64px;
}

h1, h2 {
  color: #565656;
}

/*
.container .featured, .container .featured .feature-img, .container .featured img, .container .featured .text {
  border: 1px solid blue;
}
.container .info, .container .info .practicing, .container .info .description, .container .info .practicing img, .container .info .practicing .text, .container .info .description img, .container .info .description .text, .container .mobile-side .sidebar, .container .mobile-side .sidebar img, .container .mobile-side .sidebar .text {
  border: 1px solid red;
}
.container .learning, .container .learning .box, .container .learning .box .learning-img, .container .learning .box .text, .container .mobile-learning, .container .mobile-learning .mobile-box {
  border: 1px solid lightgreen;
}
.container .thesis, .container .thesis .video, .container .thesis video, .container .thesis .video .text, .container .thesis .exhibit, .container .thesis .exhibit .thesisexhibit, .container .thesis .exhibit .thesisexhibit img, .container .thesis .exhibit .thesisexhibit .text {
  border: 1px solid pink;
}
footer, footer .footnote, footer .footnote .copyright, footer .footnote .terms {
  border: 1px solid black;
}
*/

/* CSS for the first section - featured image and text */
.featured {
  background-color: #D7CEC7;
}

.container .featured {
  display: flex;
}

.container .featured img {
  width: 100%;
  height: auto;
  padding: 0;
}

.container .featured .feature-img {
  padding: 32px 24px;
  width: 60%;
}

.container .featured .text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.container .featured .text h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 16px;
  line-height: 40px;
}

.container .featured .text h3 {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 16px;
  line-height: 24px;
}

button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  background-color: #76323F;
  color: #FFF;
  transition-property: background-color;
  transition-duration: 250ms;
}
button:hover {
  background-color: #565656;
}

@media only screen and (max-width: 832px) {
  .container .featured .feature-img {
    padding: 16px 12px;
    width: 60%;
  }
  .container .featured .text h1 {
    font-size: 24px;
    padding-bottom: 8px;
    line-height: 24px;
  }
  .container .featured .text h3 {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 480px) {
  .container .featured {
    display: block;
  }
  .container .featured .feature-img {
    padding: 0;
    width: auto;
  }
  .container .featured .text {
    width: auto;
    padding: 32px 16px;
    align-items: center;
  }
  .container .featured .text h1 {
    font-size: 36px;
    padding-bottom: 32px;
    line-height: 45px;
  }
  .container .featured .text h3 {
    font-size: 22px;
    padding-bottom: 24px;
    line-height: 32px;
  }
}

/* CSS for the second section - info image, text, and school information on the side */
.container .info {
  display: flex;
}

.container .info .practicing img {
  width: 100%;
  height: auto;
  padding: 0 0 32px 0;
}

.container .info .practicing {
  padding: 32px 24px;
  width: 60%;
}

.container .info .practicing .text h1 {
  padding-bottom: 28px;
  font-size: 24px;
  font-weight: bold;
}

.container .info .practicing .text h3 {
  line-height: 24px;
  padding-bottom: 32px;
}

.container .info .description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container .info .description .sidebar {
  display: flex;
}

.container .info .description img {
  width: 35%;
  height: 50%;
  padding: 16px;
}

.container .info .description .orientation {
  margin-top: 32px;
  border-top: 5px solid #D7CEC7;
  border-left: 5px solid #D7CEC7;
}

.container .info .description .lecture {
  margin-bottom: 32px;
  border-bottom: 5px solid #D7CEC7;
  border-left: 5px solid #D7CEC7;
}

.container .info .description .campus {
  background-color: #D6CEC7;
}

.container .info .description .sidebar .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .info .description .sidebar .text h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
}

.container .info .description .sidebar .text h4 {
  line-height: 24px;
  padding-bottom: 8px;
}

.container .info .description .sidebar .text a {
  font-weight: 500;
  color: #76323F;
}
.container .info .description .sidebar .text a:hover {
  color: #C09F80;
}

.mobile-side {
  display: none;
}

@media only screen and (max-width: 832px) {
  .container .info .practicing img {
    padding: 0;
  }
  .container .info .practicing {
    padding: 16px 12px;
    width: 50%;
  }
  .container .info .practicing .text h1 {
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: bold;
  }
  .container .info .practicing .text h3 {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 16px;
  }
  .container .info .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container .info .description .sidebar .text h2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  .container .info .description .sidebar .text h4 {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 8px;
  }
  .container .info .description .sidebar .text a {
    font-size: 16px;
  }
  .container .info .description img {
    width: 30%;
    height: 50%;
    padding: 6px;
  }
  .container .info .description .orientation {
    margin-top: 10px;
  }
  .container .info .description .lecture {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  .container .info {
    display: none;
  }
  .container .mobile-side {
    display: flex;
    flex-direction: column;
  }
  .container .mobile-side .sidebar {
    padding: 16px;
  }
  .container .mobile-side .sidebar img {
    padding: 0 0 22px 0;
    width: 100%;
    height: auto;
  }
  .container .mobile-side .sidebar .text {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }
  .container .mobile-side .sidebar .text h2 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
  }
  .container .mobile-side .sidebar .text h4 {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 8px;
  }
  .container .mobile-side .sidebar .text a {
    font-size: 16px;
    font-weight: 500;
    color: #76323F;
  }
  .container .mobile-side .sidebar .text a:hover {
    color: #C09F80;
  }
  .container .mobile-side .sidebar.campus {
    background-color: #D7CEC7;
  }
  .container .mobile-side .sidebar.lecture {
    padding-bottom: 32px;
    border-bottom: 5px solid #D7CEC7;
  }
}

/* CSS for the third section - learning - 6 pictures and text boxes */
.learningtitle {
  text-align: center;
  padding-top: 32px;
  font-size: 32px;
  font-weight: bold;
  background-color: #D7CEC7;
}

.container .learning {
  background-color: #D7CEC7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 72px 0 72px;
  flex-basis: 700px;
}

.container .learning .box {
  width: 300px;
  margin: 0 16px 36px 16px;
  padding: 0;
  box-shadow: 2px 2px 5px grey;
}

.container .learning img {
  width: 300px;
  padding-left: 0px;
  height: auto;
  padding-right: 0;
}

.container .learning .learning-img {
  line-height: 0;
}

.container .learning .box .text {
  padding: 16px 16px 24px 16px;
  background-color: white;
  height: 130px;
}

.container .learning h1 {
  font-size: 24px;
  padding-bottom: 8px;
}

.container .learning h2 {
  padding-bottom: 8px;
}

.container .learning h3 {
  line-height: 24px;
}

.mobile-learning {
  display: none;
}

@media only screen and (max-width: 832px) {
  .container .learning {
    padding: 32px 0 0 0;
  }
}
@media only screen and (max-width: 688px) {
  .container .learning .box {
    width: 250px;
    margin: 0 8px 16px 8px;
  }
  .container .learning img {
    width: 250px;
    padding-left: 0px;
    height: auto;
  }
  .container .learning .box .text {
    padding: 8px 8px 12px 8px;
    background-color: white;
    height: 125px;
  }
  .container .learning h1 {
    font-size: 20px;
    padding-bottom: 6px;
  }
  .container .learning h2 {
    padding-bottom: 6px;
  }
  .container .learning h3 {
    line-height: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .learningtitle {
    padding-bottom: 16px;
    background-color: white;
  }
  .container .learning {
    display: none;
  }
  .container .mobile-learning {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
  .container .mobile-learning .mobile-box {
    padding: 24px 16px;
    font-weight: bold;
    margin: 8px 0;
    background-color: #D7CEC7;
  }
  .container .mobile-learning .mobile-box.software {
    margin-top: 0px;
  }
  .container .mobile-learning .mobile-box.marketing {
    margin-bottom: 32px;
  }
}

/* CSS for the fourth section - thesis exhibit - video and additional images and text */
.thesistitle {
  text-align: center;
  padding-top: 32px;
  font-size: 32px;
  font-weight: bold;
}

.container .thesis .exhibit .first {
  background-color: #D7CEC7;
}

.container .thesis {
  display: flex;
}

.container .thesis video {
  width: 100%;
  padding-bottom: 24px;
}

.container .thesis .video {
  padding: 32px 24px;
  width: 60%;
}

.container .thesis .video .text h2 {
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}

.container .thesis .video .text span {
  line-height: 24px;
}

.container .thesis .exhibit {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 32px;
}

.container .thesis .exhibit .thesisexhibit {
  display: flex;
}

.container .thesis .exhibit img {
  width: 35%;
  height: 50%;
  padding: 16px;
}

.container .thesis .exhibit .thesisexhibit .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .thesis .exhibit .thesisexhibit.second {
  border-bottom: 5px solid #D7CEC7;
  border-left: 5px solid #D7CEC7;
}
.container .thesis .exhibit .thesisexhibit .text h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
}

.container .thesis .exhibit .thesisexhibit .text span {
  line-height: 24px;
}

.mobile-thesis {
  display: none;
}

@media only screen and (max-width: 832px) {
  .thesistitle {
    padding-bottom: 16px;
  }
  .container .thesis video {
    padding-bottom: 6px;
  }
  .container .thesis .video {
    padding: 16px 12px;
    width: 50%;
  }
  .container .thesis .exhibit {
    width: 50%;
    padding-top: 16px;
  }
  .container .thesis .exhibit img {
    width: 30%;
    padding: 6px;
  }
  .container .thesis .exhibit .thesisexhibit .text h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 6px;
  }
  .container .thesis .exhibit .thesisexhibit .text span {
    line-height: 18px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .container .thesis {
    display: none;
  }
  .container .mobile-thesis {
    display: flex;
    padding-bottom: 24px;
  }
  .container .mobile-thesis video {
    width: 100%;
  }
}

/* CSS for the footer */
footer {
  height: 100px;
  border-top: 1px solid #C09F80;
}

.footnote {
  display: flex;
}

footer .footnote {
  padding: 16px 0 0 24px;
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer nav li {
  display: inline-flex;
  padding-left: 12px;
}
.mobile-footnote {
  display: none;
}

@media only screen and (max-width: 520px) {
  footer nav {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  footer {
    height: 100%;
  }
  footer .footnote {
    padding-bottom: 16px;
  }
}
