<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Proza+Libre:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/match.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <!-- The header of the page -->
    <header>
      <!-- Full web version -->
      <div class="container">
      <img src="/resources/images/ic-logo.svg" alt="Colmar Academy Logo." class="logo">
      <span class="mark"><a href="/">MARK</a></span><span class="blanco"><a href="/">BLANCO</a></span>
      <nav class="webversion">
        <span><a href="/About">About</a></span>
        <span><a href="/Viz">Viz</a></span>
        <span><a href="/Match">Match</a></span>
        <span><a href="/Volunteer">Volunteer</a></span>
      </nav>
      <!-- Mobile version -->
      <nav class="mobile-nav">
        <ul>
          <li><a href="#"><img src="/resources/images/ic-on-campus.svg" alt="On campus link."></a></li>
          <li><a href="#"><img src="/resources/images/ic-online.svg" alt="Online link."></a></li>
          <li><a href="#"><img src="/resources/images/ic-login.svg" alt="Login link."></a></li>
        </ul>
      </nav>
      <!-- Eliminate logo name -->
      <nav class="small-mobile-nav">
        <ul>
          <li><a href="#"><img src="/resources/images/ic-logo.svg" alt="Colmar Academy Logo."></a></li>
          <li><a href="#"><img src="/resources/images/ic-on-campus.svg" alt="On campus link."></a></li>
          <li><a href="#"><img src="/resources/images/ic-online.svg" alt="Online link."></a></li>
          <li><a href="#"><img src="/resources/images/ic-login.svg" alt="Login link."></a></li>
        </ul>
      </nav>
    </div>
  </header>
    <!-- Main body of the web page -->

    {{ content }}


    <!-- Footer section -->
    <footer>
      <div class="footnote">
        <div class="copyright">
          <span>© 2018 Mark Blanco. All rights reserved.</span>
        </div>
        <nav class="terms">
          <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </nav>
      </div>
      <div class="mobile-footnote">
        <span>© 2018 Mark Blanco. All rights reserved.</span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/resources/js/match-game.js"></script>
    <script type="text/javascript" src="/resources/js/tests.js"></script>
  </body>
</html>
